/node_modules
bower_components
npm-debug.log
/public/storage
/storage/*.key
/vendor
/.idea
.idea
*.iml
Homestead.json
Homestead.yaml
.env
.env.*.php
.env.php

bootstrap/compiled.php

build/logs
build/coverage
app/tests/_log

composer.phar

_ide_helper.php

app/config/packages
public/packages

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

# Apple OS metadata
.DS_Store
._.DS_Store
Thumbs.db